@model Festiv.Models.Game
@using Festiv.Models
@using Festiv.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Game";
}

<h1>Create New Game</h1>

<form asp-action = "CreateGame" method = "post">
    <div class = "form-group">
        <label for = "Name">Game Name</label>
        <input type = "text" class="form-control" id = "Name" name = "Name" required />
    </div>
    <div class="form-group">
        <lable for="MinPlayers">Minimum Players</lable>
        <input type = "number" class = "form-control" id = "MinPlayers" name = "MinPlayers" required />
    </div>
    <div class="form-group">
        <lable for="MaxPlayers">Maximum Players</lable>
        <input type = "number" class = "form-control" id = "MaxPlayers" name = "MaxPlayers" required />
    </div>
    <div class="form-group">
        <button type="submit" value="Create" class="btn btn-primary">Create Game</button> />
    </div>
</form>

<div>
    <a asp-action="Index">Back to the party</a>
</div>

