@using Festiv.ViewModels
@model AddPartyViewModel

@{
    ViewData["Title"] = "Create Event Page";
}

<div class="text-center">
    <h1 class="display-4">Create Event</h1>
</div>

<div>
    <form asp-controller="Party" asp-action="CreateEvent" method="post">

        <label asp-for="Name">Event Name:</label>
        <input asp-for="Name"><br>

        <label for="Description">Event Description:</label>
        <input type="text" id="Description" name="Description"><br>

        <label for="Location">Location:</label>
        <input type="text" id="Location" name="Location"><br>

        <label for="Start">Start:</label>
        <input type="datetime-local" id="Start" name="Start"><br>

        <label for="End">End:</label>
        <input type="datetime-local" id="End" name="End"><br>

        @* Make the Host the one who submits the form *@

        <input type="submit" value="Create"/>

    </form>
</div>