@using Festiv.ViewModels
@model AddPartyViewModel

@{
    ViewData["Title"] = "Create Event Page";
}

<div class="text-center">
    <h1 class="display-4">Create Event</h1>
</div>

<div>
    <form asp-controller="Party" asp-action="CreateEvent" method="post">

        <label asp-for="Name">Event Name:</label>
        <input asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span><br>

        <label asp-for="Description">Event Description:</label>
        <input asp-for="Description">
        <span asp-validation-for="Description" class="text-danger"></span><br>

        <label asp-for="Location">Location:</label>
        <input asp-for="Location">
        <span asp-validation-for="Location" class="text-danger"></span><br>

        <label asp-for="Start">Start:</label>
        <input asp-for="Start" value="">
        <span asp-validation-for="Start" class="text-danger"></span><br>

        <label asp-for="End">End:</label>
        <input asp-for="End" value="">
        <span asp-validation-for="End" class="text-danger"></span><br>

        <label asp-for="Photo">Photo Url</label>
        <input asp-for="Photo">

        @* Make the Host the one who submits the form *@

        <input type="submit" value="Create"/>

    </form>
</div>