
@using Festiv.Controllers;

<div class="container py-5">
        <h2 class="mb-4">Gift Registry</h2>
        <p class="lead">Please click one of the below links:</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://www.amazon.com/registries" target="_blank" class="text-decoration-none">Amazon</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.target.com/registry-kiosk" target="_blank" class="text-decoration-none">Target</a>
            </li>
            <li class="list-group-item">
                <a href="https://www.walmart.com/cp/gifts-registry/1094765" target="_blank" class="text-decoration-none">Walmart</a>
            </li>
        </ul>
    </div>